@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");



h1 {
  text-align: center;
  color: white;
  text-shadow: black -3px 3px;
}

h2,p{
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  text-shadow: black -2px 2px;
}

.titulo {
  width: 50%;
  margin-left: 25%;
}

*{
  font-family: "Ubuntu", sans-serif;
}

.fundo{
  background-color: #370080;
}

img.wave{
  width: 100%;
}

nav{
  font-weight: bold;
  margin-left: 5%;
}

section.black{
  background-color: black;
}
section.purple{
  background-color: #370080;
  margin-left: 10%;
  margin-right: 10%;
}

img.fotos{
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 10%;
}